@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-VariableFont_wght.ttf");
  font-weight: 500 700;
}

:root {
  --accent-color: hsl(0,0%,8%);
  --base-color: hsl(0,0%,98%);
  --font-color: hsl(0,0%,41%);
}

@layer reset {

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  html,body {
    height: 100%;
  }

  body {
    font-family: "Epilogue", sans-serif;
    line-height: 1.5;
  }


  a {
    text-decoration: none;
    color: inherit
  }

  ul, ol {
    list-style: none;
  }

  input, button, textarea, select {
    font: inherit;
  }

  button, input {
    border: none;
    outline:none;
  }
}

@layer base {
  h1,h2 {
    color: var(--heading-font-color,var(--accent-color));
    font-size: var(--heading-font-size, 1.8rem);
  }

  p {
    color: var(--paragraph-font-color, var(--font-color));
  }

  button {
    width: var(--button-width, 9rem);
    padding: var(--button-padding, .8rem);
    background-color: var(--button-foreground, var(--accent-color));
    color: var(--button-font-color, var(--base-color));
    border-radius: 1rem;
    
  }

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-inline-start: .3rem;
    }
  }
  a:hover {
    color: var(--accent-color);
  }
}

@layer layout {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--font-color);

    ul, button {
      display: none;
    }    

    @media (width > 42rem) {
      justify-content: initial;

      ul {
        display: flex;
        align-items: center;
        margin-inline-start: 1rem;

        li {
          margin-inline-start: 1rem;
        }
      }

      button {
        --button-foreground: none;
        --button-font-color: var(--font-color);
        border: 1.5px, var(--font-color), solid;
        display: inline-block;
        margin-inline-start: 1rem;
      }

      button:hover {
        --button-font-color: var(--accent-color);
        border: 1.5px, var(--accent-color), solid;
        cursor: pointer;
      }

      button:nth-child(5) {
        border: none;
        margin-left: auto;
      }

      img:nth-child(3) {
        display: none;
      }
    }
  }

  section {
    min-width: 320px;
    max-inline-size: 1200px;
    margin: 0 auto;

    img {
      width: 100%;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-block-start: 2rem;

      h1 {
        font-size: 2.2rem;
      }

      p {
        width: 90%;
      }

      button {
        margin-block-start: 2rem;
      }

      button:hover {
        --button-font-color: var(--accent-color);
        background-color: var(--base-color);
        border: 1.5px, var(--accent-color), solid;
        cursor: pointer;
      }

    }

    footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-block-start: 2rem;
      padding-block-end: 4rem;
      img {
        width: 4rem;
        height: .8rem;
      }

      img:nth-child(2) {
        width: 3rem;
        height: 1.5rem;
      }
    }

    @media (width > 42rem) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "info header"
        "footer header"
      ;
      gap:5rem;
      padding: 2rem;
      padding-block-end: 5rem;

      picture {
        grid-area: header;
        height: 100%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
      div {
        grid-area: info;
        align-items: start;
        h1 {
          font-size: 5rem;
          text-align: left;
          line-height: 1;
        }
        p {
          width: 380px;
          margin-block-start: 2rem;
          text-align: left;
        }
      }

      footer {
        grid-area: footer;
        align-items: end;
        padding: 0;
        margin: 0;

        img {
          width: 6rem;
          height: 1rem;
        }
      }
    }

    @media (width > 71rem){
      
      div {
        padding-block-start: 8rem;
      }
    }

  }
}

@layer mobile_menu {
  .mobile_menu {
    position: fixed;
    display: fixed;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: var(--base-color);
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    img {
      margin-left: auto;
    }

    .mobile_menu_links_container {
      display: block;
      width: 100%;
      li {
        margin-block-start: 1rem;
        a {
          img {
            margin-inline-start: 1rem;
          }
        }
        .submenu {
          display: none;
          transform: translateY(-100%);
          transition: transform 0.3s ease-in-out;
          img {

            margin-inline-end: .5rem;
          }
        }
        .submenu.active {
          display: flex;
          flex-direction: column;
          transform: translateY(0%);
        }

        .submenu.hidden {
          display: none;
        }

      }
      .company_link_container {
        ul {
          margin-inline-start: 1rem;
        }
      }

      .active_btn {
        transform: rotate(180deg);
        transition: transform 0.3s ease; 
      }

    }

    button {
      --button-foreground:var(--base-color);
      --button-font-color:var(--font-color);
      --button-padding: .5rem;
      display: block;
      height: 2.5rem;
      border: 1.5px, var(--font-color), solid;
      margin: 0 auto;
      margin-block-start: 1rem;
    }

    button:nth-child(3) {
      border: none;
    }
  }

  /*Lógica de submenus*/

  .mobile_menu.active {
    transform: translateX(0);
  }


  .submenu_desktop_toggle {
    position: relative;
  }
  .submenu_desktop {
    position: absolute;
    top: 30px;
    left: -80px;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem;
    background-color: var(--base-color);
    box-shadow: 0px 7px 33px 9px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 7px 33px 9px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 7px 33px 9px rgba(0,0,0,0.24);
    border-radius: .5rem;
    li {
      width: 100%;
      margin-block-start: .5rem;
      a {
        img {
          margin: 0;
          margin-inline-end: .5rem;
        }
      }
    }
  }

  .company {
    left: 0;
    width: 120px;
    li {
      display: flex;
      justify-content: left;
    }
  }

  .submenu_desktop.active {
    display: flex;
  }

  .active_btn {
    transform: rotate(180deg);
    transition: transform 0.3s ease; 
  }


}
