@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue-VariableFont_wght.ttf");
  font-weight: 500 700;
}

:root {
  --accent-color: hsl(0,0%,8%);
  --base-color: hsl(0,0%,98%);
  --font-color: hsl(0,0%,41%);
}

@layer reset {

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  html,body {
    height: 100%;
  }

  body {
    font-family: "Epilogue", sans-serif;
    line-height: 1.5;
  }


  a {
    text-decoration: none;
    color: inherit
  }

  ul, ol {
    list-style: none;
  }

  input, button, textarea, select {
    font: inherit;
  }

  button, input {
    border: none;
    outline:none;
  }
}

@layer base {
  h1,h2 {
    color: var(--heading-font-color,var(--accent-color));
    font-size: var(--heading-font-size, 1.8rem);
  }

  p {
    color: var(--paragraph-font-color, var(--font-color));
  }

  button {
    width: var(--button-width, 8rem);
    padding: var(--button-padding, .8rem);
    background-color: var(--button-foreground, var(--accent-color));
    color: var(--button-font-color, var(--base-color));
    border-radius: .8rem;
  }

  a {
    display: flex;
    align-items: center;
    img {
      margin-inline-start: .3rem;
    }
  }
}

@layer layout {
  .main_container {
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
    @media (width < 38rem) {
      ul {
        display: none;
        background-color: red;
      }
      button {
        display: none;
      }
    }
  }

  section {
    img {
      width: 100%;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-block-start: 2rem;
      padding-block-end: 4rem;
      h1 {
        font-size: 2.2rem;
      }

      p {
        width: 90%;
      }

      button {
        margin-block-start: 2rem;
      }

      footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-block-start: 2rem;
        img {
          width: 4rem;
          height: .8rem;
        }

        img:nth-child(2) {
          width: 3rem;
          height: 1.5rem;
        }
      }

    }
  }
}
